<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd9462">  <td>18/07/31 02:40:31</td>   <td>0</td> <td title="&lt;&lt;LoginTest.EndSession()[pri:0, instance:Prac.OrangeHRM.LoginTest@59ec2012]">&lt;&lt;EndSession</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>18/07/31 02:40:31</td>   <td>-56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginToAppTest(java.lang.String)[pri:1, instance:Prac.OrangeHRM.LoginTest@59ec2012]">LoginToAppTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>18/07/31 02:40:22</td>   <td>-8941</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.TestSetup()[pri:0, instance:Prac.OrangeHRM.LoginTest@59ec2012]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
</table>
